.container {
  background-image: linear-gradient(180deg, #fdfbfb 0%, #ebedee 100%);
  border-radius: 20px;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.1);
  width: 90vw;
  margin-top: 4%;
  border: 4px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6% 0 10% 0;
}

@media (min-width: 800px) {
  .container {
    width: 50em;
    padding: 2em 2em 3em;
  }
}
