.bottomTemp {
  text-align: center;
  font-size: 100px;
  margin-left: 35px;
}

.city {
  color: #000000;
  font-size: 40px;
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  margin: 10% 0 0 0;
}

.timeDate {
  font-weight: lighter;
  font-size: 15px;
  text-transform: none;
}

.condition {
  text-transform: capitalize;
}

.weather-image {
  position: absolute;
  left: 30%;
  bottom: 40%;
  opacity: 0.08;
}

.leftSection {
  text-align: center;
}

.bottomSection {
  position: relative;
  top: -15px;
}

@media (min-width: 800px) {
  .leftSection {
    text-align: left;
    margin: 10px 0 0 0;
  }
  .bottomTemp {
    margin: 0;
  }
  .city {
    margin-top: 20%;
  }
}
