.info {
  font-size: 13px;
  padding: 2em;
  background-color: rgba(111, 111, 111, 0.1);
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgb(0 0 0 / 10%);
  margin: 0 0 15% 0;
}

.highlow {
  text-align: center;
  padding: 5px 0px 0px 0px;
  font-size: 20px;
  font-weight: 200;
}

.highlow-a {
  font-weight: 700;
}

.feelsLike,
.humidity,
.wind {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 800px) {
  .info {
    padding: 2em;
  }
}
