.form-control {
  display: inline;
  width: 60%;
}

.searchForm {
  text-align: center;
}

button {
  margin: 0px 0px 4px 5px;
}

@media (min-width: 800px) {
  section {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}
