.WeatherForecast {
  text-align: center;
}

.WeatherForecast-minTemp {
  opacity: 0.5;
  margin-left: 10px;
}

img {
  width: 75px;
}

.WeatherForecast .forecast {
  background-color: rgba(111, 111, 111, 0.1);
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgb(0 0 0 / 10%);
  margin: 15px 0 0 0;
}

.WeatherForecast .forecast:hover {
  background-color: rgba(111, 111, 111, 0.2);
  cursor: pointer;
  transition: ease-in-out 200ms;
}

@media (min-width: 800px) {
  .WeatherForecast {
    display: flex;
    justify-content: space-between;
  }
}
