.WeatherForecast-day {
  font-weight: 500;
}

.WeatherForecast-Temp {
  font-weight: 300;
}

.forecastDay {
  align-items: center;
}

.img {
  width: 75px;
}

.row {
  justify-content: space-evenly;
  align-items: center;
}

@media (min-width: 800px) {
  .row {
    display: unset;
  }
  .img {
    width: 100px;
  }
  .col-2,
  .col-3 {
    width: 100%;
  }
}
